.idea/*
Style-Transfer/images/cat.png
Style-Transfer/images/milk.png
Style-Transfer/images/noe.png
Style-Transfer/images/style2.png
Style-Transfer/images/style3.png
Style-Transfer/images/style4.png
Style-Transfer/images/style5.png
Style-Transfer/images/style6.png
Style-Transfer/outputs/cat*
Style-Transfer/outputs/noe*
Style-Transfer/outputs/milk*
Style-Transfer/outputs/city_style2*
Style-Transfer/outputs/city_style3*
Style-Transfer/outputs/city_style4*
Style-Transfer/outputs/city_style5*
Style-Transfer/outputs/city_style6*